# https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files 
# Ignore everything
*
./data/*

# But don't ignore these files
!.gitignore
!*.py
!/data/

# but still ignore these .py
tmp.py

