# https://stackoverflow.com/questions/17743549/recursively-add-the-entire-folder-to-a-repository
# Ignore everything
*

# But not these files...
!.gitignore
!*.py

# ...even if they are in subdirectories
!*/
# if the files to be tracked are in subdirectories
#
#
# still ignore tmp.py
tmp.py

